@model MiCamioncito.Models.Vehiculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Capacidad" class="control-label"></label>
                <input asp-for="Capacidad" class="form-control" />
                <span asp-validation-for="Capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConsumoConbustible" class="control-label"></label>
                <input asp-for="ConsumoConbustible" class="form-control" />
                <span asp-validation-for="ConsumoConbustible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanciaPendiente" class="control-label"></label>
                <input asp-for="DistanciaPendiente" class="form-control" />
                <span asp-validation-for="DistanciaPendiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disponibilidad" class="control-label"></label>
                <input asp-for="Disponibilidad" class="form-control" />
                <span asp-validation-for="Disponibilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCarga" class="control-label"></label>
                <input asp-for="TipoCarga" class="form-control" />
                <span asp-validation-for="TipoCarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
